@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron main-content">
    <h2 class="">
        Hello, and welcome to my site.
    </h2>
    <p class="lead">
        
    </p>
    <p>
        Hello Joelle
    </p>
</div>