@model EoghanGibbons.Models.Games.GameViewModel

@{
    ViewBag.Title = Model.GameTitle;
}

@section scripts{
    @Scripts.Render("~/Phaser")
    @Scripts.Render("~/GameLibrary")
    @Scripts.Render("~/Games/Breakout")

    <script>
        $("document").ready(function ()
        {
            let x = $("#screen");

            const myGame = new MultiplayerBreakout(x.width(), 600, @Html.Raw(Model.UserGameData));

            myGame.Start();
        });
    </script>
}

<div class="container">
    <div id="screen">
        
    </div>
</div>